.red {color: red;}
.green {color: green;}
.lime {color: lime;}
.blue {color: blue;}
.yellow {color: yellow;}
.orange {color: orange;}
.bg-red {background-color: red;}
.bg-green {background-color: green;}
.bg-lime {background-color: lime;}
.bg-blue {background-color: blue;}
.bg-yellow {background-color: yellow;}
.bg-orange {background-color: orange;}