.bg0 {background-color: red;}
.bg3 {background-color: green;}
.bg4 {background-color: blue;}
.bg2 {background-color: yellow;}
.bg1 {background-color: orange;}
.bg5 {background-color: rgb(204, 0, 255);}
.wit {height: 20px; width: 2000px;}