html {
    background: linear-gradient(#2980b9 0%, white 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
  
.snowflake {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
  